.bg-elder-light {
  background-color: #CCF6E7;
  color: #02281B;
}
.fw-boldest {
  font-weight: 900;
}
.fw-boldering {
  font-weight: 500;
}
.btn-outline-elder {
  border-color: #66E3B7 !important;
  color: #7D988F !important;
}
.bg-faq {
  background-color: #02281B;
  color: #FBFCF8;
}
.border-faq {
  border-color: #FBFCF8 !important;
}
.answer {
  font-size: small;
  font-weight: 100;
}
.question {
  font-weight: 200;
  font-size: medium;
}
.bg-whyus {
  background-color: #CCF6E7;
  color: #02281B;
}
.fs-7 {
  font-size: small;
}
.tag {
  background-color: #02281B;
  color: #FBFCF8;
}
.bg-features {
  background-color: #E5FAF3;
  color: #02281B;
}
.card-feature {
  background-color: #02281B;
  color: #FBFCF8;
  border-radius: 2%;
}
.card-title {
  font-weight: 800;
  font-size: larger;
}
.card-text {
  font-size: small;
}
.header {
  color: #02281B;
  background: url('../src/assets/banner-bg.png');
  background-repeat: no-repeat;
  background-position: cover;
}
nav {
  display: flex;
  justify-content: flex-start;
}

nav>div {
  max-width: 33.3333%;
  min-width: 33.3333%;
}
nav div a {
  text-decoration: none;
  color: #02281B;
}

.logo {
  text-align: center;
}

.right {
  text-align: right;
}
.btn-elder {
  background-color: #02281B !important;
  color: #FBFCF8 !important;
}